* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}
img {
	width: 100%;
	height: auto;
}
#grid-container {
	display: grid;
	justify-items: center;
	align-self: center;
	width: 80%;
	height: auto;
	gap: 2em;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: repeat(auto-fit);
}
