* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}
#search-container {
	text-align: center;
	margin: 2em;
}
.search {
	width: 35%;
	height: 50px;
	padding-left: 1em;
	font-size: larger;
	outline: none;
}
img {
	width: 100%;
	height: auto;
}
#grid-container {
	display: grid;
	margin: auto;
	align-content: center;
	width: 65%;
	height: auto;
	gap: 2em;
	grid-template-columns: repeat(4, 1fr);
}
